<form id="search-photos" action="/search" method="post" style="text-align:center">
  <input name="hashtag" type="text" placeholder="#hashtag" />
  <select name="resolution">
    <option value="" disabled selected>Pick the size</option>
    <option value="thumbnail">Thumbnail</option>
    <option value="low_resolution">Low Resolution</option>
    <option value="standard_resolution">Standard Resolution</option>
  </select>
  <input type="submit" name="submit" value="search" /> 
</form>
<br>

<% if @photos.count > 0 %>
  <% @photos.each do |photo| %>
    <img src="<%= photo %>" />
  <% end %>
<% else %>
  <h4>Sorry no photos :( </h4>
<% end %>