<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title><%= @title + ' | Instagram API' %></title>  
  <link href="/reset.css" rel="stylesheet">  
  <link href="/style.css" rel="stylesheet">  
</head>  
<body>  
  <header>  
     <hgroup>  
      <h1><a href="/">Instaclowns</a></h1>  
      <h2>'cause nobody is neutral on clowns</h2>  
     </hgroup>  
  </header>  

  <div id="main">  
    <%= yield %>  
  </div>  

  <footer>  
    <p><small>A makersquare tutorial on Instagram API.</small></p>  
  </footer>  
</body>  
</html>